
pre { font-size: 14pt; margin-left: 20px; padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom: 10px; background-color: rgba(230,230,230,1.0); }
tt { padding-left: 2px; padding-right: 2px; font-size: 100%; background-color: rgba(220,220,220,0.5); }
tt.virgin { padding-left: 0px; padding-right: 0px; font-size: 100%; background-color: transparent; }
/* Works, but not nicely:
red { color: #f00; }
*/
.red { color: #f00; }
div.outdated { display: inline-block; padding-left: 2px; padding-right: 2px; padding-top: 2px; font-size: 80%; background-color: #EEC; }
div.digression { display: none; padding: 8px 8px 8px 8px; font-size: 80%; background-color: #EDD; }
div.digression-closed { display: inline-block; padding: 8px 8px 8px 8px; font-size: 80%; background-color: #EDD; }
.dig-toggle-show { outline: 0; text-decoration: none; color: #33E; display: inline-block; padding: 8px 8px 8px 8px; font-size: 11pt; background-color: #EDD; }
.dig-toggle-hide { outline: 0; text-decoration: none; color: #33E; display: inline-block; padding: 0px 0px 4px 0px; font-size: 11pt; background-color: #EDD; }
a { text-decoration: none; }
div.main { font-size: 16pt; margin-left: 10px; margin-right: 100px; margin-bottom: 40px; }
h2 { margin-top: 30px; color: #777; }
h3 { margin-top: 30px; color: #444; }
h4 { margin-top: 40px; color: #222; }
div.comments { font-family: sans; font-size: 80%; margin-top: 40px; }
div.footer { font-family: sans; font-size: 80%; margin-top: 40px; }
div.footer > tt { font-size: 90%; }
/*
table.table { text-align: top; vertical-align: top; }
table.table > tr { text-align: top; vertical-align: top; }
table.table > tr > td { text-align: top; vertical-align: top; }
*/
/* table { border-collapse: collapse; } */
tr { text-align: top; vertical-align: top; }
td { text-align: top; vertical-align: top; padding-left: 8px; padding-top: 16px; }
li { margin-top: 4px; }
.nowrap { white-space: nowrap; }

tt { background: transparent; }

